
/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ul li {
  list-style-type: none;
}

a, button {
  color: #333;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: Arial;
  font-size: 16px;
  color: #000;
  background: #eee;
}

input, select {
  font-size: 16px;
  font-family: Arial;
}

/* sidebar */

.sidebar {
  position: fixed;
  left: -20%;
  top: 0;
  width: 20%;
  height: 100%;
  background: #fff;
  border-right: 2px solid #666;
  transition: .5s;
  .open {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #fff;
    color: #666;
    border: 2px solid #666;
    top: 20px;
    right: -60px;
    font-size: 24px;
    z-index: 1;
    &:hover {
      background: #666;
      color: #fff;
    }
    i {
      transition: .5s;
    }
  }
  &.open {
    left: 0;
    .open {
      top: 0;
      right: -2px;
      i {
        transform: rotate(180deg);
      }
    }
  }
  .sidebar-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 20px 20px;
    overflow-y: auto;
    .color-bg {
      margin-bottom: 30px;
      .title {
        font-size: 18px;
        margin-bottom: 10px;
      }
      input {
        display: block;
        width: 100%;
      }
    }
    .actions {
      margin-bottom: 30px;
      .title {
        font-size: 18px;
        margin-bottom: 10px;
      }
      ul {
        border: 1px solid #666;
        border-bottom: 0;
        li {
          border-bottom: 1px solid #666;
          a {
            display: block;
            padding: 10px 20px;
            color: #000;
            &:hover {
              background: #000;
              color: #fff;
            }
          }
        }
      }
    }
    .layers {
      padding: 0 0 20px;
      * {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .title {
        font-size: 18px;
        margin-bottom: 10px;
      }
      ul {
        position: relative;
        border: 1px solid #666;
        border-bottom: 0;
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 70px;
          width: 100%;
          padding: 0 3%;
          border-bottom: 1px solid #666;
          transition: background .3s linear;
          cursor: move;
          &:hover {
            background: #eee;
          }
          &.active {
            background-color: #ddd;
          }
          &.drag {
            position: absolute;
            opacity: .8;
          }
          &.place {
            background: #d0ffff;
          }
          &.empty {
            justify-content: center;
            cursor: default;
            font-size: 14px;
          }
          .img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border: 1px solid #666;
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
          .desc {
            max-width: 60%;
            font-size: 12px;
            margin: 0 3%;
            .text {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          .remove {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            color: #666;
            border: 1px solid #666;
            &:hover {
              background: #666;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.upload-image-input {
  display: none;
}

/* content */

.content {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  &.open {
    width: 80%;
  }
  * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .worksheet {
    position: relative;
    overflow: hidden;
    border: 1px dashed #666;
    .color-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .image-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
    .outline-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .layers {
      li {
        position: absolute;
        opacity: .4;
        a {
          display: block;
          cursor: pointer;
          img {
            display: block;
          }
        }
      }
    }
    .edit {
      display: none;
      position: absolute;
      opacity: .8;
      outline: 1px dashed #0c00ff;
      cursor: move;
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      &.show {
        display: block;
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        width: 20px;
        height: 20px;
        outline: 1px solid #0c00ff;
        font-size: 14px;
        background-color: #fff;
        color: #000;
        &:hover {
          background: #000;
          color: #fff;
        }
        &.rotate {
          top: 0;
          right: 0;
        }
        &.resize {
          bottom: 0;
          right: 0;
          i {
            transform: rotate(-45deg);
          }
        }
        &.edit {
          bottom: 0;
          right: 0;
        }
        &.remove {
          bottom: 0;
          left: 0;
        }
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* content buttons */

.scale {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 15px;
  right: 15px;
  color: #666;
  transition: .3s;
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

.content-buttons {
  position: fixed;
  bottom: 20px;
  right: 15px;
  ul {
    display: flex;
    li {
      margin: 0 5px;
      a {
        display: block;
        padding: 5px 10px;
        border: 1px solid #666;
        background: #fff;
        &:hover {
          background: #666;
          color: #fff;
        }
      }
    }
  }
}

/* popups */

.popups {
  .fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    background: #000;
    transition: .3s;
    &.open {
      opacity: .6;
      visibility: visible;
    }
  }
  .popup {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    background: #fff;
    transition: .3s;
    &.open {
      opacity: 1;
      visibility: visible;
    }
    .close {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background: #fff;
      font-size: 24px;
      i {
        transition: .3s;
      }
      &:hover i {
        transform: scale(1.2);
      }
    }
    .title {
      margin-bottom: 20px;
      font-size: 22px;
      text-align: center;
    }
    .add-icon {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      li {
        display: flex;
        width: 200px;
        margin: 0 20px 20px;
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;
          width: 100%;
          padding: 20px;
          border: 1px solid #666;
          &:hover {
            background: #ddd;
          }
          img {
            display: block;
            max-width: 150px;
            max-height: 150px;
            margin-bottom: 20px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
    .canvas-wrapper {
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      display: flex;
      align-items: center;
      justify-content: center;
      canvas {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    .load-image-actions {
      position: absolute;
      top: 5%;
      left: 5%;
      width: 90%;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: stretch;
      li {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px 0;
        .load-image {
          border: 1px solid #000;
          padding: 10px 20px;
          font-size: 18px;
          color: #000;
          &:hover {
            background: #000;
            color: #fff;
          }
        }
        p {
          width: 100%;
          text-align: center;
          font-size: 18px;
          a {
            text-decoration: underline;
            &:hover {
              text-decoration: none;
            }
          }
        }
        .form-image {
          position: relative;
          margin: 10px 0 0;
          width: 500px;
          max-width: 90%;
          height: 36px;
          border: 1px solid #000;
          input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0 18% 0 3%;
            border: 0;
            font-size: 16px;
          }
          button {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
            width: 15%;
            height: 100%;
            background: #fff;
            border: 0;
            border-left: 1px solid #000;
            font-size: 22px;
            &:hover {
              background: #000;
              color: #fff;
            }
          }
        }
      }
    }
    .add-text-form {
      position: absolute;
      top: 5%;
      left: 10%;
      width: 80%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .input {
        width: 100%;
        max-width: 400px;
        margin: 0 0 15px;
        .title {
          margin: 0 0 3px;
          font-size: 16px;
          text-align: left;
        }
        input, select {
          width: 100%;
          height: 36px;
          padding: 0 10px;
          border: 1px solid #999;
          border-radius: 0;
          transition: .3s;
          &:focus {
            border: 1px solid #333;
          }
        }
        select {
          cursor: pointer;
        }
        option {
          font-size: 18px;
          padding: 5px 10px;
        }
        &.checkboxes {
          display: flex;
          align-items: center;
          justify-content: center;
          label {
            display: flex;
            margin: 0 20px;
            cursor: pointer;
            font-size: 18px;
            input {
              width: 20px;
              height: 20px;
              margin-right: 5px;
            }
          }

        }
        &.buttons {
          margin: 10px 0 0;
          text-align: center;
          button {
            margin: 0 10px;
            padding: 5px 20px;
            border: 1px solid #999;
            color: #000;
            background: #fff;
            font-size: 16px;
            &:hover {
              background: #333;
              color: #fff;
            }
          }
        }
      }
    }
    .create-image-wrapper {
      position: absolute;
      width: 90%;
      height: 400px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      display: flex;
      justify-content: center;
      .canvas-create-wrapper {
        canvas {
          display: block;
          width: 400px;
          height: 400px;
          border: 1px solid #666;
          cursor: crosshair;
        }
      }
      .tools-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 230px;
        margin-left: 20px;
        .title {
          margin: 0 0 5px;
          font-size: 15px;
        }
        .tools, .size, .opacity, .color {
          margin: 0 0 15px;
        }
        .tools {
          ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: 10px 0 0;
            li {
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border: 1px solid #333;
                border-radius: 50%;
                font-size: 14px;
                color: #333;
                &.active, &:hover {
                  background: #333;
                  color: #fff;
                }
              }
            }
          }
        }
        .size, .opacity, .color {
          input {
            display: block;
            width: 90%;
            margin: 0 auto;
            cursor: pointer;
          }
        }
        .buttons {
          button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 85%;
            padding: 0 5px;
            height: 30px;
            margin: 0 auto 10px;
            border: 1px solid #333;
            background: #fff;
            color: #333;
            font-size: 15px;
            &:hover {
              background: #333;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

/* choose product */

.choose-product {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ccc;
  transition: .3s;
  &.show {
    opacity: 1;
    visibility: visible;
  }
  & > p {
    margin-bottom: 50px;
    font-size: 32px;
    text-align: center;
  }
  ul {
    display: flex;
    justify-content: space-around;
    li {
      display: flex;
      width: 25%;
      max-width: 400px;
      a {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #fff;
        padding: 30px;
        border: 1px solid #999;
        overflow: hidden;
        transition: .7s;
        img {
          position: relative;
          display: block;
          width: 100%;
        }
        p {
          position: relative;
          font-size: 20px;
          margin-top: 30px;
          text-align: center;
        }
        &:before {
          content: '';
          position: absolute;
          top: 100%;
          right: 100%;
          width: 200%;
          height: 200%;
          background: #eee;
          transform: rotate(45deg);
          transition: .7s;
        }
        &:hover {
          border: 1px solid #000;
          &:before {
            top: -50%;
            right: -50%;
          }
        }
      }
    }
  }
}

/* mobile page */

.mobile-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #fff;
  img {
    width: 50%;
    margin: 20px 0 0;
    max-width: 200px;
  }
}

@media (min-width: 900px) and (min-height: 500px) {
  .mobile-page {
    display: none;
  }
}

/* error list */

.error-list {
  position: fixed;
  top: 15px;
  right: 15px;
  width: 20%;
  ul {
    li {
      position: relative;
      padding: 20px 20px;
      margin-bottom: 10px;
      background: #ff4b52;
      color: #fff;
      font-size: 15px;
      text-align: center;
      cursor: pointer;
      transition: background .3s linear;
      &:nth-child(n + 6) {
        display: none !important;
      }
      &:hover {
        background: #ff1721;
      }
    }
  }
}

/* loader */

.loader {
  position: fixed;
  visibility: visible;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .3s;
  &.hide {
    visibility: hidden;
    opacity: 0;
  }
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: .5;
  }
  .spinner {
    position: absolute;
    top: 15px;
    right: 15px;
    border-top: 5px solid rgba(0, 0, 0, 0.2);
    border-right: 5px solid rgba(0, 0, 0, 0.2);
    border-bottom: 5px solid rgba(0, 0, 0, 0.2);
    border-left: 5px solid #000;
    transform: translateZ(0);
    animation: spinner 1.1s infinite linear;
  }
  .spinner,
  .spinner:after {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
