<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= htmlWebpackPlugin.options.title %></title>
  </head>
	<body>
    <div class="content">
      <div class="worksheet">
        <div class="color-bg"></div>
        <div class="image-bg"></div>
        <div class="outline-bg"></div>
        <div class="layers"></div>
        <div class="edit"></div>
      </div>
    </div>
    <div class="content-buttons">
      <ul>
        <li><a class="change-product">Изменить товар</a></li>
        <li><a class="reset-all">Сбросить все</a></li>
        <li><a class="show-results">Показать результат</a></li>
        <li><a class="export">Экспорт</a></li>
      </ul>
    </div>
    <div class="sidebar">
      <a class="open"><i class="fa fa-chevron-right"></i></a>
      <div class="sidebar-wrapper">
        <div class="color-bg">
          <p class="title">Цвет товара:</p>
          <div class="input">
            <input type="color" name="color" value="">
          </div>
        </div>
        <div class="actions">
          <p class="title">Добавить:</p>
          <ul>
            <li><a data-type="icon">Знак</a></li>
            <li><a data-type="image">Изображение</a></li>
            <li><a data-type="text">Текст</a></li>
          </ul>
        </div>
        <div class="layers">
          <p class="title">Слои:</p>
          <ul></ul>
        </div>
      </div>
    </div>
    <div class="popups">
      <div class="fade"></div>
      <div class="popup" data-popup="result">
        <a class="close"><i class="fa fa-times"></i></a>
        <div class="canvas-wrapper"></div>
      </div>
      <div class="popup" data-popup="icons">
        <a class="close"><i class="fa fa-times"></i></a>
        <p class="title">Выберите знак</p>
        <ul class="add-icon"></ul>
      </div>
      <div class="popup" data-popup="image">
        <a class="close"><i class="fa fa-times"></i></a>
        <ul class="load-image-actions">
          <li>
            <input class="upload-image-input" type="file" name="image">
            <a class="load-image">Загрузите изображение</a>
          </li>
          <li>
            <p>Или вставьте ссылку на изображение в интернете:</p>
            <form class="form-image">
              <input type="text" name="link-to-image" value="">
              <button type="submit"><i class="fa fa-check"></i></button>
            </form>
          </li>
          <li>
            <p>Или <a class="create-image">создайте свое изображение</a></p>
          </li>
        </ul>
      </div>
      <div class="popup" data-popup="text">
        <a class="close"><i class="fa fa-times"></i></a>
        <form class="add-text-form">
          <div class="input">
            <p class="title">Текст надписи:</p>
            <input type="text" name="text" value="" placeholder="Введите сюда свой текст...">
          </div>
          <div class="input">
            <p class="title">Шрифт:</p>
            <select name="font-size"></select>
          </div>
          <div class="input">
            <p class="title">Размер шрифта, px:</p>
            <input required type="number" name="font-size" value="12" placeholder="Введите размер шрифта...">
          </div>
          <div class="input">
            <p class="title">Цвет:</p>
            <input type="color" name="color" value="">
          </div>
          <div class="input checkboxes">
            <label>
              <input type="checkbox" name="bold">
              <span>Bold</span>
            </label>
            <label>
              <input type="checkbox" name="italic">
              <span>Italic</span>
            </label>
          </div>
          <div class="input buttons">
            <button type="submit">Сохранить</button>
            <button class="cancel">Отменить</button>
          </div>
        </form>
      </div>
      <div class="popup" data-popup="create-image">
        <a class="close"><i class="fa fa-times"></i></a>
        <div class="create-image-wrapper">
          <div class="canvas-create-wrapper">
            <canvas></canvas>
          </div>
          <div class="tools-wrapper">
            <div class="size">
              <p class="title">Размер - <span class="value"></span>px</p>
              <input type="range" min="1" max="100" step="1" value="">
            </div>
            <div class="opacity">
              <p class="title">Прозрачность - <span class="value"></span>%</p>
              <input type="range" min="1" max="100" step="1" value="">
            </div>
            <div class="color">
              <p class="title">Цвет</p>
              <input type="color" value="">
            </div>
            <div class="buttons">
              <button class="clear">Очистить холст</button>
              <button class="back">Отмена</button>
              <button class="save">Сохранить</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="choose-product">
      <p>Выберите товар:</p>
      <ul></ul>
    </div>
    <div class="error-list">
      <ul></ul>
    </div>
    <div class="mobile-page">
      <p>К сожалению, разрешение экрана вашего устройства меньше, чем необходимо для корректной работы приложения.</p>
      <img src="images/mobile.jpg" alt="" />
    </div>
    <div class="loader">
      <div class="bg"></div>
      <div class="spinner"></div>
    </div>
	</body>
</html>
